{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Page</title>
    <link rel="stylesheet" href="{% static 'todo/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'todo/css/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.0/css/all.min.css" />
</head>
<body>
<div class="container">
    <div class="box">     
        <h1>ToDo App</h1>      
        <div class="signup-box">
            <div class="flex user">
                <h2>Hi {{user.username|title}}👋</h2>              
                <a href="/signout"><i class="fa-solid fa-right-from-bracket"></i></a>
            </div>          
            <form method="post">
                {% csrf_token %}
                <div class="label-box">
                    <input type="text" name="title" placeholder="Add Today's Task ?" required>
                </div>
                <div class="label-box">
                    <input type="submit" value="Add Task" class="signup">
                </div>            
            </form>    
            <div class="todo-box">
                {% for todo in res %}           
                    <div class="todo-list flex">
                        <h5>{{todo.srno}}</h5>
                        <p>{{todo.title}}</p>
                        <div>
                            <a href="/edit_todo/{{todo.srno}}"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a href="/delete_todo/{{todo.srno}}"><i class="fa-solid fa-trash"></i></a>
                        </div>
                    </div>
                {% endfor %}
            </div>       
        </div>
    </div>  
</div>


    {% load django_browser_reload %}
    {% django_browser_reload_script %}
</body>
</html>

